body {
    background-color: #fff;
    font-family: "Open Sans", sans-serif;
    display: grid;
    grid-template-columns: auto 16px 1024px 16px auto;
}

body > * {
    grid-column: 3;
}

.section {
    padding: 64px 0;
}

.section--dark {
    background-color: #f9f9f9;
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: auto 1024px auto;
}

.section--dark > * {
    grid-column: 2;
}

.section__title {
    color: #555;
    font-size: 32px;
    font-weight: 300;
    margin-bottom: 64px;
    position: relative;
}

.section__title::after {
    content: "";
    background-color: #ddd;
    position: absolute;
    bottom: -32px;
    left: 0;
    width: 96px;
    height: 1px;
}

.section__subtitle {
    color: #999;
    font-size: 17px;
    max-width: 640px;
    line-height: 1.5;
    margin-bottom: 32px;
}
