.footer {
    display: flex;
    justify-content: space-between;
    padding: 64px 0;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: -0.1px;
}

.footer__about {
    color: #999;
}

.footer__heading {
    color: #db4453;
    font-size: 32px;
    font-weight: 300;
    margin-bottom: 32px;
}

.footer__address {
    margin-bottom: 32px;
}

.footer__address__row {
    margin-bottom: 8px;
}

.footer__links {
    text-align: right;
}

.footer__link-item {
    margin-bottom: 12px;
}

.footer__link {
    color: #555;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}

.footer__link:hover {
    color: #db4453;
}
