.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    grid-auto-rows: 300px;
    grid-gap: 24px;
    grid-auto-flow: dense;
}

.tile {
    grid-column: span 2;
}

.tile--horizontal {
    grid-column: span 4;
}

.tile--vertical {
    grid-row: span 2;
}

.tile__wrapper {
    height: 100%;
    position: relative;
    overflow: hidden;
}

.tile__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.2s ease-in-out;
}

.tile:hover .tile__image {
    transform: scale(1.25);
}

.tile__text {
    position: absolute;
    bottom: 16px;
    right: 16px;
    color: #fff;
    font-size: 13px;
    text-align: right;
}

.tile__text__title {
    font-size: 20px;
    margin-bottom: 4px;
}
