.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 0 16px;
}

.header__logo {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 64px;
    border-radius: 100%;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: -.5px;
    background-color: #db4453;
}

.header__nav {
    display: flex;
    align-items: center;
}

.header__nav__item {
    margin-left: 32px;
}

.header__nav__link {
    color: #555;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 2px;
    transition: all 0.2s ease-in-out;
}

.header__nav__link:hover {
    color: #db4453;
}

.header__nav__item--highlighted .header__nav__link {
    color: #db4553;
    padding: 10px 12px;
    display: inline-block;
    border: 2px solid #db4453;
    border-radius: 3px;
}

.header__nav__item--highlighted .header__nav__link:hover {
    color: #fff;
    background-color: #db4453;    
}
